DATA_DIR=/volume1/docker/realtor

GHCR_OWNER=gbourcier
IMAGE_TAG=main

API_PORT=3000

POSTGRES_DB=realtor
POSTGRES_USER=realtor
POSTGRES_PASSWORD=change-me

POLYGON_WKT=
REALTOR_BASE_URL=https://api2.realtor.ca
PRICE_MIN=
PRICE_MAX=
BED_RANGE=
BATH_RANGE=
LAT_MAX=
LAT_MIN=
LON_MAX=
LON_MIN=
MOCK_REALTOR_API=false

TRANSIT_SNAPSHOT=tue-09
TRANSIT_REF_LAT=45.5048
TRANSIT_REF_LON=-73.5772
TRANSIT_REF_KEY=mcgill
TRANSIT_NEAREST_STOPS=5
TRANSIT_WALK_SPEED_MPS=1.39
TRANSIT_WALK_DETOUR=1.3
